<launch>
  <arg name="main" default="false" />
  <arg name="DRY" default="false" />
  <param name="dryrun" value="true" if="$(arg DRY)"/>
  <param name="dryrun" value="false" unless="$(arg DRY)"/>

  <node pkg="roseus" type="roseus" name="approach_fridge_door" output="screen"
        args="$(find detect_cans_in_fridge_201202)/euslisp/approach-fridge-door.l"  />

  <node pkg="roseus" type="roseus" name="grasp_fridge_door" output="screen"
        args="$(find detect_cans_in_fridge_201202)/euslisp/grasp-fridge-door.l"  />

  <node pkg="roseus" type="roseus" name="solve_ik_and_open_fridge_door" output="screen"
        args="$(find detect_cans_in_fridge_201202)/euslisp/solve-ik-and-open-fridge-door.l"  />

  <!-- <node pkg="roseus" type="roseus" name="move_forward_larm" output="screen" -->
  <!--       args="$(find detect_cans_in_fridge_201202)/euslisp/move-forward-larm.l"  /> -->
</launch>
